.c-tooltip {
  z-index: 9999;
}

.c-tooltip__arrow {
  fill: var(--primary-0);
}

.c-tooltip__content {
  background-color: var(--primary-0);
  padding: 5px 9px;
  border-radius: 4px;
  color: white;
  font-size: 0.875rem;
  max-width: 80vw;

  ul {
    padding: 0 1rem;
  }

  li {
    list-style: none;
  }

  .c-timeline__event__tooltip {
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  [id*='react-select-'] {
    color: black;
  }
}
