node_modules/
.idea/

api/timesheets-tracker-database.sqlite3
dist/
exe/target/release/

timesheets-tracker-database.sqlite3
.clude

tsconfig.tsbuildinfo
api/manic-time-export.csv

.claude/
ManicTime_*
