@use "../../styles/variables" as variables;

.p-timelines-and-events-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-timelines-page {
  flex: 1;
  min-height: 0;

  .c-timelines-panel {
    overflow-y: auto;
  }

  .c-timelines {
    min-height: 0;
  }

  .c-timeline-events-list {
    height: 100%;

    .c-events-table,
    .c-events-totals-table {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.c-resize-handle {
  background-color: #ddd;
  transition: background-color 0.15s ease;
  flex-shrink: 0;

  &:hover,
  &[data-resize-handle-active] {
    background-color: #a0a0ff;
  }

  &--horizontal {
    height: 5px;
    cursor: row-resize;
    width: 100%;
  }

  &--vertical {
    width: 5px;
    cursor: col-resize;
  }
}
